.fighterList {
  display: flex;
  flex-wrap: wrap;
  width: 700px;
  min-width: 700px;
  /* margin: 0 auto; */
  margin-left: 30px;
  margin-right: 30px;
  list-style: none;
  background-color: rgb(110, 109, 109);
}

.item,
.activeItem {
  list-style: none;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 140px;
}

.item {
  background-color: rgb(156, 154, 154);
}

.activeItem {
  background-color: rgb(24, 230, 75);
}

.imgWrap {
  width: 120px;
  height: 120px;
}

.fighterImage {
  width: 120px;
  height: 120px;
}
