@keyframes fighterLeft {
  0% {
    transform: translate(0);
  }
  50% {
    transform: translate(210px, -30px);
  }
  100% {
    transform: translate(0);
  }
}

.fighterImgLeft {
  display: block;
  width: 60px;
  height: auto;

  @media screen and (min-width: 420px) {
    width: 80px;
  }

  @media screen and (min-width: 768px) {
    width: 100px;
  }

  @media screen and (min-width: 960px) {
    width: 150px;
  }
}

.fighterImgLeft {
  position: relative;
  left: 0;
  animation: fighterLeft 500ms infinite cubic-bezier(0, 0, 1, 1);
}
