
.mainWrapper{
  margin: 0 auto;
  width: 100%;
  min-height: 100vh;
  padding-top: 90px;
  padding-bottom: 40px;
  background-image: url('../../assets/img/bg320.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  @media screen and (min-width: 420px) {
    background-image: url('../../assets/img/bg480.jpg');
  }

  @media screen and (min-width: 768px) {
    background-image: url('../../assets/img/bg-768.jpg');
  }

  @media screen and (min-width: 960px) {
    background-image: url('../../assets/img/bg.jpg');
  }

}

.title {
  color: rgb(236, 46, 46);
  text-align: center;
  font-size: 30px;
  margin: 0 auto;
  margin-bottom: 20px;
  font-weight: bold;

  @media screen and (min-width: 420px) {
    font-size: 34px;
  }

  @media screen and (min-width: 768px) {
    font-size: 40px;
  }

  @media screen and (min-width: 960px) {
    font-size: 60px;
  }

}

.notify {
  height: 40px;
  color: rgb(245, 120, 18);
  text-align: center;
  font-size: 26px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 20px;
  margin-bottom: 50px;
  font-family: 'Trade Winds', cursive;

  @media screen and (min-width: 420px) {
    font-size: 28px;
  }

  @media screen and (min-width: 768px) {
    font-size: 40px;
  }

  @media screen and (min-width: 960px) {
    font-size: 50px;
  }

}

.finishHim {
  height: 40px;
  color: rgb(233, 66, 15);
  text-align: center;
  font-size: 26px;
  margin: 0 auto;
  font-family: 'Nosifer', cursive;

  @media screen and (min-width: 420px) {
    font-size: 30px;
  }

  @media screen and (min-width: 768px) {
    font-size: 40px;
  }

  @media screen and (min-width: 960px) {
    font-size: 50px;
  }

}


.fightersWrap {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 30px;
}

.FighterName {
  color: #fff;
  font-size: 18px;
  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    font-size: 22px;
  }

  @media screen and (min-width: 960px) {
    font-size: 26px;
  }

}

.leftFighter,
.rightFighter {
  width: 170px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: 420px) {
    width: 180px;
  }

  @media screen and (min-width: 768px) {
    width: 300px;
  }

  @media screen and (min-width: 960px) {
    width: 300px;
  }

}

.fighterimgWrap {
  width: 60px;
  background-repeat: no-repeat;
  background-size: contain;

  @media screen and (min-width: 420px) {
    width: 80px;
  }

  @media screen and (min-width: 768px) {
    width: 100px;
  }

  @media screen and (min-width: 960px) {
    width: 150px;
  }

}

@keyframes fighterRight {

  0% {
    transform: translate(0);
  }
  50% {
    transform: translate(-120px, 0);
  }
  100% {
    transform: translate(-130px, -50px);
  }
}

@keyframes fighterLeft {
  0% {
    transform: translate(0);
  }
  50% {
    transform: translate(160px, -50px);
  }
  100% {
    transform: translate(0);
  }
}

.fighterImgRight,
.fighterImgLeft {
  display: block;
  width: 60px;
  height: auto;

  @media screen and (min-width: 420px) {
    width: 80px;
  }

  @media screen and (min-width: 768px) {
    width: 100px;
  }

  @media screen and (min-width: 960px) {
    width: 150px;
  }

}

.fighterImgRight {
  position: relative;
  right: 0;
  animation: fighterRight 1200ms infinite cubic-bezier(0, 0, 1, 1);
}

.fighterImgLeft {
  position: relative;
  left: 0;
  animation: fighterLeft 1200ms infinite cubic-bezier(0, 0, 1, 1);
}


.sound {
  display: none;
}