.fighterImgRight {
  display: block;
  width: 300px;
  height: auto;
}

.fighterImgRight {
  position: relative;
  right: 0;
  bottom: 0;
  width: 300px;
  transition: right 0.2s cubic-bezier(0, 0, 1, 1);
}
