.fighterImgLeft {
  display: block;
  height: auto;
  width: 60px;

  @media screen and (min-width: 420px) {
    width: 80px;
  }

  @media screen and (min-width: 768px) {
    width: 100px;
  }

  @media screen and (min-width: 960px) {
    width: 150px;
  }
}


.fighterImgLeft {
  position: relative;
  left: 0;
  transition: left 1s cubic-bezier(0, 0, 1, 1);
}
