.fightersMainWrap {
  margin: 0 auto;
  width: 100%;
  min-height: 100vh;
  padding-top: 30px;
  padding-bottom: 30px;
  background-image: url('../../assets/img/vsbg320.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  @media screen and (min-width: 420px) {
    background-image: url('../../assets/img/vsbg480.jpg');
  }

  @media screen and (min-width: 768px) {
    padding-top: 50px;
    background-image: url('../../assets/img/vsbg768.jpg');
  }

  @media screen and (min-width: 960px) {
    background-image: url('../../assets/img/vsbg.jpg');
  }

  @media screen and (min-width: 1680px) {
    padding-top: 150px;
  }

}

.dragonIcon {
  width: 30px;
  height: 30px;

  @media screen and (min-width: 420px) {
    width: 40px;
    height: 40px;
  }

  @media screen and (min-width: 768px) {
    width: 70px;
    height: 70px;
  }
}

.iconList {
  width: 280px;
  margin: 0 auto;
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;

  @media screen and (min-width: 768px) {
    width: 500px;
  }
}

.imgWrap {
  display: none;

  @media screen and (min-width: 960px) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background-color: rgb(185, 182, 180);
    border: 1px solid #000;
    cursor: pointer;
  }
}

.imgWrapMobile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  background-color: rgb(185, 182, 180);
  border: 1px solid #000;
  cursor: pointer;

  @media screen and (min-width: 420px) {
    width: 30px;
    height: 30px;
  }

  @media screen and (min-width: 960px) {
    display: none;
  }
}

.imgWrap:hover {
  background-color: rgb(233, 230, 229);
}

.mainTitle {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 70px;
  color: #fff;
  font-size: 24px;
  text-transform: uppercase;
  font-style: italic;
  height: 24px;

  @media screen and (min-width: 768px) {
    font-size: 30px;
    height: 30px;
    margin-bottom: 30px;
  }

  @media screen and (min-width: 960px) {
    font-size: 45px;
    height: 45px;
  }
}

.notify {
  text-align: center;
  margin: 0 auto;
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
  font-style: italic;
  margin-right: 20px;
  margin-left: 20px;

  @media screen and (min-width: 768px) {
    font-size: 26px;
  }

  @media screen and (min-width: 960px) {
    font-size: 35px;
  }
}

.continueMobile {
  text-align: center;
  margin: 0 auto;
  color: #fff;
  font-size: 18px;
  font-style: italic;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 15px;

  @media screen and (min-width: 960px) {
    display: none;
  }
}

.userName {
  color: #fff;
}
.sound {
  display: none;
}

.fightersWrap {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 30px;
}

.FighterName {
  color: #fff;
  font-size: 18px;
  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    font-size: 22px;
  }

  @media screen and (min-width: 960px) {
    font-size: 26px;
  }
}

.leftFighter,
.rightFighter {
  width: 140px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: 768px) {
    width: 250px;
  }

  @media screen and (min-width: 960px) {
    width: 350px;
  }

  @media screen and (min-width: 1680px) {
    width: 450px;

  }

  @media screen and (min-width: 2560px) {
    width: 650px;

  }
}

.fighterimgWrap {
  position: relative;
  width: 70px;
  background-repeat: no-repeat;
  background-size: contain;

  @media screen and (min-width: 768px) {
    width: 100px;
  }

  @media screen and (min-width: 960px) {
    width: 150px;
  }

  @media screen and (min-width: 1680px) {
    width: 280px;

  }

  @media screen and (min-width: 2560px) {
    width: 450px;
  }

}

.dialog {
  position: absolute;
  top: 15px;
  right: -131px;
  background-color: #fff;
  font-size: 24px;
}


.fighterImgLeft {
  position: relative;
  left: 0;
  width: 70px;
  transition: left 1s cubic-bezier(0, 0, 1, 1);
}

.fighterImgRight,
.fighterImgLeft {
  display: none;
  width: 70px;
  height: auto;

  @media screen and (min-width: 768px) {
    width: 100px;
  }

  @media screen and (min-width: 960px) {
    display: block;
    width: 150px;
  }

  @media screen and (min-width: 1680px) {
    width: 280px;

  }

  @media screen and (min-width: 2560px) {
    width: 450px;
  }

}

.fighterImgRight {
  position: relative;
  display: none;
  right: 0;
  width: 70px;
  transition: right 1s cubic-bezier(0, 0, 1, 1);

  @media screen and (min-width: 768px) {
    width: 100px;
  }

  @media screen and (min-width: 960px) {
    display: block;
    width: 130px;
  }

  @media screen and (min-width: 1680px) {
    width: 260px;

  }

  @media screen and (min-width: 2560px) {
    width: 430px;
  }

}



.fighterImgRightMobile {
  height: auto;
  position: relative;
  right: 0;
  width: 70px;
  transition: right 1s cubic-bezier(0, 0, 1, 1);

  @media screen and (min-width: 768px) {
    width: 100px;
  }

  @media screen and (min-width: 960px) {
    display: none;
  }
}

.fighterImgLeftMobile {
  width: 75px;
  height: auto;
  position: relative;
  left: 0;
  transition: left 1s cubic-bezier(0, 0, 1, 1);

  @media screen and (min-width: 768px) {
    width: 100px;
  }

  @media screen and (min-width: 960px) {
    display: none;
  }
}
